{% extends "base.html" %}

{% block content %}
<div class="row align-items-center justify-content-center position-relative">
    <h1 class="text-center">Add Category</h1>
    <form method="post" enctype="multipart/form-data" class="w-50 p-5 shadow">
        {%csrf_token%}
         {{form}}
        <input type="submit" value="Add">
    </form>
    {% if msg %}
  <div class="alert alert-{{msg.type}} alert-dismissible fade show" role="alert">
      
      {{msg.txt}}
      
  </div>
    {% endif %}
</div>
    
{% endblock content %}
